SUPABASE_URL=https://supbaseurl.supabase.co
SUPABASE_SERVICE_KEY=service key here
SUPABASE_JWT_SECRET=your_jwt_secret_here
PORT=3001
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

ONESIGNAL_APP_ID=your_onesignal_app_id
ONE_SIGNAL_API_KEY=your_onesignal_api_key
 